@using UTB.Eshop.Nagy.Web.Models.Database.Configuration;
@model UTB.Eshop.Nagy.Web.Models.Entities.Product

@{
	string buttonDelete, buttonBack, confirmCZEN;
	string titleCZEN, nameEN, nameCZ, descEN, descCZ;
	string priceCZEN, discountPriceCZEN, imgSrcCZEN, descImgSrcCZEN, warrantyCZEN;

	if (LanguageConfig.Language == "EN")
	{
		buttonDelete = "Delete";
		buttonBack = "Back to list";
		titleCZEN = "Product";
		nameEN = "Product Name - EN";
		nameCZ = "Product Name - CZ";
		descEN = "Description - EN";
		descCZ = "Description - CZ";
		priceCZEN = "Price";
		discountPriceCZEN = "Price After Discount";
		imgSrcCZEN = "Image Source";
		descImgSrcCZEN = "Desc. Img Source";
		warrantyCZEN = "Warranty";
		confirmCZEN = "Are you sure you want to delete this?";
	}
	else
	{
		buttonDelete = "Smazat";
		buttonBack = "Zpět na seznam";
		titleCZEN = "Produkt";
		nameEN = "Název produktu - EN";
		nameCZ = "Název produktu - CZ";
		descEN = "Podrobnosti - EN";
		descCZ = "Podrobnosti - CZ";
		priceCZEN = "Cena";
		discountPriceCZEN = "Cena po slevě";
		imgSrcCZEN = "Cesta obrázku";
		descImgSrcCZEN = "Cesta obr. podrob.";
		warrantyCZEN = "Záruka";
		confirmCZEN = "Jste si jistí, že chcete smazat tuto položku?";
	}

	ViewData["Title"] = "Delete";
}

<h1>@buttonDelete</h1>

<h3>@confirmCZEN</h3>
<div>
	<h4>@titleCZEN</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@nameCZ
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NameCZ)
		</dd>
		<dt class="col-sm-2">
			@nameEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NameEN)
		</dd>
		<dt class="col-sm-2">
			@priceCZEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@discountPriceCZEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.discountPrice)
		</dd>
		<dt class="col-sm-2">
			@imgSrcCZEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.imageSrc)
		</dd>
		<dt class="col-sm-2">
			@descImgSrcCZEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DescriptionImageSrc)
		</dd>
		<dt class="col-sm-2">
			@descCZ
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DescriptionCZ)
		</dd>
		<dt class="col-sm-2">
			@descEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DescriptionEN)
		</dd>
		<dt class="col-sm-2">
			@warrantyCZEN
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Warranty)
		</dd>
	</dl>

	<form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="@buttonDelete" class="btn btn-danger" /> |
        <a asp-action="Index">@buttonBack</a>
    </form>
</div>
