@using UTB.Eshop.Nagy.Web.Models.Database.Configuration;
@model IEnumerable<UTB.Eshop.Nagy.Web.Models.Entities.Product>

@{
	string buttonEdit, buttonDelete, buttonDetail;
	string titleCZEN, nameCZEN, descriptionCZEN, createCZEN;
	string priceCZEN, discountPriceCZEN, imgSrcCZEN, descImgSrcCZEN, warrantyCZEN;

	if (LanguageConfig.Language == "EN")
	{
		buttonEdit = "Edit";
		buttonDelete = "Delete";
		buttonDetail = "Details";
		titleCZEN = "Products";
		nameCZEN = "Product name";
		descriptionCZEN = "Description";
		createCZEN = "Create New Product";
		priceCZEN = "Price";
		discountPriceCZEN = "Price After Discount";
		imgSrcCZEN = "Image Source";
		descImgSrcCZEN = "Desc. Img Source";
		warrantyCZEN = "Warranty";
	}
	else
	{
		buttonEdit = "Upravit";
		buttonDelete = "Smazat";
		buttonDetail = "Podrobnosti";
		titleCZEN = "Produkty";
		nameCZEN = "Název produktu";
		descriptionCZEN = "Podrobnosti";
		createCZEN = "Vytvořit nový produkt";
		priceCZEN = "Cena";
		discountPriceCZEN = "Cena po slevě";
		imgSrcCZEN = "Cesta obrázku";
		descImgSrcCZEN = "Cesta obr. podr.";
		warrantyCZEN = "Záruka";
	}

	ViewData["Title"] = "Index";
}

<h1>@titleCZEN</h1>

<p>
	<a asp-action="Create">@createCZEN</a>
</p>


<table class="table">
	<thead>
		<tr>
			<th>
				@nameCZEN
			</th>
			<th>
				@descriptionCZEN
			</th>
			<th>
				@priceCZEN
			</th>
			<th>
				@discountPriceCZEN
			</th>
			<th>
				@imgSrcCZEN
			</th>
			<th>
				@descImgSrcCZEN
			</th>
			<th>
				@warrantyCZEN
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@{
						if (LanguageConfig.Language == "EN")
						{
							@Html.DisplayFor(modelItem => item.NameEN)
						}
						else
						{
							@Html.DisplayFor(modelItem => item.NameCZ)
						}
					}
				</td>
				<td>
					@{
						if(LanguageConfig.Language == "EN")
						{
							if (item.DescriptionEN.Length > 150)
							{
								@item.DescriptionEN.Substring(0,150)@:...
							}
							else
							{
								@item.DescriptionEN.Substring(0,item.DescriptionEN.Length)
							}
						}
						else
						{
							if (item.DescriptionCZ.Length >= 150)
							{
								@item.DescriptionCZ.Substring(0,150)@:...
							}
							else
							{
								@item.DescriptionCZ.Substring(0,item.DescriptionCZ.Length)
								
							}
						}
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.discountPrice)
				</td>
				<td>
					...@item.imageSrc.Substring(item.imageSrc.Length -17)
				</td>
				<td>
					...@item.DescriptionImageSrc.Substring(item.DescriptionImageSrc.Length -17)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Warranty)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ID">@buttonEdit</a> |
					<a asp-action="Details" asp-route-id="@item.ID">@buttonDetail</a> |
					<a asp-action="Delete" asp-route-id="@item.ID">@buttonDelete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
